body {
  background-color: #EEEEEE;
  padding-top: 50px;
  font-family: 'bebas_neueregular';
}

section ul{
  float: left;
  margin-bottom: 60px;
}

section ul li {
  list-style: none;
}
.for-programmers-description {
  float: right;
  padding: 40px;
  font-size: 40px;
  width: 500px;
  margin-top: 80px;
}
.feature-language {
  padding: 15px;
}

.javascript {
  background-color: #F0DB4F;
}

.python {
 background-color: #3773A5;
}

.ruby {
  background-color: #B01000;
}

.container {
  width: 1000px;
}
.container:focus {
  outline: 0;
}

.typing {
  width: 100%;
  height:100vh;
  position: fixed;
}

.title img {
  position: relative;
  margin-bottom: -15px;
  top: -17px;
  left: -8px;
  width: 35px;
}

.timer {
  display: inline-block;
  margin-left: 50px;
}

.try-it-now {
  width: 250px;
  height: 125px;
  background-image:url("../img/try-now-250.png");
  margin: 40px auto 60px;
}

.try-it-now:hover {
  -webkit-transition: opacity 1s ease-in-out;
  background-image:url("../img/try-now-250-hover.png");

}

.everything {
  position: relative;
  background-color: #EEEEEE;
  margin-bottom: 250px;
  z-index: 10;
}
.feature-title-section {
  background-color: #FFF;
  color: #30343F;
}
.feature-section {
  background-color: #30343F;
}
.feature-block {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.feature-title {
  display: inline-block;
  width: 250px;
  height: 80px;
  padding: 5px;
}

.feature-item {
  display: inline-block;
  width: 190px;
  height: 190px;
  margin: 30px;
}

.for-programmers {
  background-color: #A6E22E;
}
.for-programmers:hover {
  background-color: #CDF975;
  cursor: pointer;
}

.exercises {
  background-color: #66D9EF;
}
.exercises:hover {
  background-color: #95E2F1;
  cursor: pointer;

}

.track-progress {
  background-color: #AE81FF;
  cursor: pointer;

}

.track-progress:hover {
  background-color: #B993FF;
  cursor: pointer;

}
.section {
  min-height: 600px;
  padding-top: 80px;
}

.section h1 {
  font-size: 80px;
  text-align: center;
  margin-bottom: 20px;
}

.section-content {
  text-align: center;
}

.section-welcome {
  padding-bottom: 0;
  height: 100%;
}

.section-programmers {
  background-color: #eee;
  padding-bottom: 0;

}
.section-challenges {
  background-color: #fccd36;
  padding-bottom: 0;

}
.section-progress {
  background-color: #EEEEEE;
  padding-bottom: 0;
  height: 900px;
}


.fill {
  height: 500px;
}

.footer-logo {
  margin: 20px;
}

.sitefooter {
  background: #30343F;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 250px;
}

.sitefooter h1 {
  margin-top: 100px;
  color: #555;
}

