body {
  background-color: #fff;
  padding-top: 50px;
  font-family: 'bebas_neueregular';
}

.container {
  min-width: 800px;
}

.try-it-now {
  width: 180px;
  height: auto;
  margin: 40px auto 60px;
}

.everything {
  position: relative;
  background-color: #EEEEEE;
  margin-bottom: 250px;
  z-index: 10;
}
.feature-title-section {
  background-color: #FFF;
  color: #30343F;
}
.feature-section {
  background-color: #30343F;
}
.feature-block {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.feature-title {
  display: inline-block;
  width: 250px;
  height: 80px;
  padding: 5px;
}

.feature-item {
  display: inline-block;
  width: 210px;
  height: 210px;
  margin: 20px;
}

.for-programmers {
  background-color: #A6E22E;
}
.for-programmers:hover {
  background-color: #CDF975;
  cursor: pointer;
}

.exercises {
  background-color: #66D9EF;
}
.exercises:hover {
  background-color: #95E2F1;
  cursor: pointer;

}

.track-progress {
  background-color: #AE81FF;
  cursor: pointer;

}

.track-progress:hover {
  background-color: #B993FF;
  cursor: pointer;
  
}
.section {
  padding: 50px 0;
}

.section h1 {
  text-align: center;
}

.section-content {
  text-align: center;
}

.section-welcome {
  padding-bottom: 0;
  height: 100%;
}

.section-programmers {
  background-color: #20c2b5;
  padding-bottom: 0;

}
.section-challenges {
  background-color: #fccd36;
  padding-bottom: 0;

}
.section-progress {
  background-color: #ff4557;
  padding-bottom: 0;
}


.fill {
  height: 500px;
}

.footer-logo {
  margin: 20px;
}

.sitefooter {
  background: #111;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 250px;
}

.sitefooter h1 {
  margin-top: 100px;
}

