footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.brand {
  position: relative;
  top: -3px;
  height: 42px;
  width: auto;
}
.btn-results {
  margin: 7px;
  display: inline-block;
}
.results-controls {
  text-align: center;
}
.metric {
  font-size: 70px;
  margin: 0 20px 0 70px;
  padding: 5px 10px;
}
.wpm {
  background-color: rgba(166,226,46,0.3);
}
.error {
  background-color: rgba(255,0,0,0.3);
}
.strokes {
  background-color: rgba(0,214,255,0.3);
}
.results {
  width: 600px;
  margin: 0 auto;
}
.well {
  width: 600px;
  margin: 20px auto 0;
}
.exercises-container {
  width: 920px;
  margin: 0 auto;
}
.exercises-footer {
  height: 100px;
  background-color: #30343f;
  margin-top: 40px;
}
.title {
  width: 180px;
  margin: 0 auto 10px;
  border-bottom: 4px solid #30343f;
  text-align: center;
}
.title h1 {
  padding: 0;
  color: #30343f;
  margin: 50px 0 0 0;
}
.exercise {
  display: inline-block;
  width: 200px;
  background-color: #fbfbfb;
  margin: 14px;
}
.exercise img {
  display: inline-block;
  width: 25px;
  margin: 5px 10px 5px 5px;
  height: auto;
}
.exercise-header {
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 10px;
}
.exercise-header span {
  color: #9b9b9b;
  line-height: 25px;
  position: relative;
  top: 5px;
  height: 25px;
  font-size: 25px;
}
.exercise-body {
  width: 100%;
  text-align: center;
  padding: 20px 0 40px;
}
.navbar {
  background-color: #30343f;
  font-size: 1.6em;
  height: 65px;
}
.nav > li > a {
  color: #eee;
  line-height: 65px;
  height: 65px;
  padding-top: 0;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #30343f;
  color: #f92672;
}
.try-now-button:hover {
  fill: #eee;
}
.slogan {
  width: 600px;
  margin-top: 20px;
  height: auto;
}
.icon {
  width: 130px;
  margin: 30px;
  height: auto;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
