
footer
  padding-left 15px
  padding-right 15px
  
  p
    border-top 1px solid #d7e0e2
    
// nav .nav

.exercises-container 
  width 920px
  margin 0 auto
  
.exercises-footer
  height 100px
  background-color #30343F
  margin-top 40px

.title 
  width 180px
  margin 0 auto 10px
  border-bottom 4px solid #30343F
  text-align center
  h1
    padding 0
    color #30343F
    margin 50px 0 0 0 


.exercise
  display inline-block
  width 200px
  background-color #FBFBFB
  margin 14px
  img 
    display inline-block
    width 25px
    margin 5px 10px 5px 5px
    height auto

.exercise-header
  width 100%
  text-align center
  background-color #FFF
  padding 10px
  span
    color #9B9B9B
    line-height 25px
    position relative
    top 5px
    height 25px
    font-size 25px
  
  
.exercise-body
  width 100%
  text-align center
  padding 20px 0 40px





.navbar {
  background-color: #30343F;
  font-size: 1.6em;
  height: 65px;
}
.nav > li > a {
  color: #EEE;
  line-height: 65px;
  height: 65px;
  padding-top: 0;
}

.nav > li > a:hover,
.nav > li > a:focus  {
  background-color: #30343F;
  color: #F92672;
}
  
// content area
.try-now-button:hover {
  fill: #eeeeee;
}

.slogan {
  width: 600px;
  margin-top: 20px;
  height: auto;
}
.icon
  width 130px
  margin 30px
  height auto

.navbar-form
  .form-group
    margin-left 10px
  button 
    margin-left 10px
    
.toast-top-right
  top 70px

.toast-success
  background-color #13987e