extends ../includes/layout

block main-content
  .navbar.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") keydash.io
      .navbar-collapse.collapse
        div(ng-include="'/partials/account/navbar-login'")

  section.content
    div(ng-view)
  
  

  
