.container
  .title
    h1 Exercises
  .exercises-container
    a(href="/exercises/{{ex._id}}" ng-repeat="ex in exercises") 
      div.exercise
        .exercise-header
          img(src="{{imgSrcMap[ex.language]}}")
          span.exercise-language{{ex.language}}
        .exercise-body
          h3 {{ex.title}}