.container
  .title
    h1 Log In
  .well
    form.form-horizontal(name="signupForm")
      fieldset
        .form-group
          label.col-md-2.control-label(for="email") Email
          .col-md-10
            input.form-control(name="email", type="email", placeholder="Email", ng-model="email", required)
        .form-group
          label.col-md-2.control-label(for="password") Password
          .col-md-10
            input.form-control(name="password", type="password", placeholder="Password", ng-model="password", required)
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="signin(email, password)", ng-disabled="signupForm.$invalid") Submit
              | &nbsp;
              a.btn.btn-default(href="/") Cancel