.navbar-right(ng-controller="mvNavbarController")
  ul.nav.navbar-nav.navbar-left
    li
      a(href="/typing") Typing
    li
      a(href="/dashboard") Dash Board
  ul.nav.navbar-nav.navbar-left(ng-hide="identity.isAuthenticated()")
    li
      a(href="/login") Log In
    li
      a(href="/signup") Sign Up        
  ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
    li.dropdown
      a.dropdown.toggle(href="", data-toggle="dropdown")
        | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
        b.caret
      ul.dropdown-menu
        li(ng-show="identity.currentUser.isAdmin()")
          a(href="/admin/users") User Admin
        li 
          a(href="/profile") Profile
        li
          a(href="", ng-click="signout()") Sign Out