doctype

html(ng-app='app')
  head
    link(rel="icon" type="image/png" href="/img/favicon.png")
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/angular-chart.js/dist/angular-chart.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
    link(rel="stylesheet", href="/css/typing.css")
    link(rel="stylesheet", href="/css/landingpage.css")
    link(rel="stylesheet", href="/fonts/bebas-neue-fontfacekit/web fonts/bebasneue_regular_macroman/stylesheet.css")
    base(href="/")

  body
    include currentUser
    block main-content
    include scripts
