script(type="text/javascript", src="/vendor/lodash/dist/lodash.js")
script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/Chart.js/Chart.js")
script(type="text/javascript", src="/vendor/angular-chart.js/dist/angular-chart.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-scroll/angular-scroll.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/app.router.js")
script(type="text/javascript", src="/app/main/mvMainController.js")
script(type="text/javascript", src="/app/common/mvNotifier.js")
script(type="text/javascript", src="/app/common/mvFocus.js")
script(type="text/javascript", src="/app/common/mvScroll.js")
script(type="text/javascript", src="/app/account/mvLoginController.js")
script(type="text/javascript", src="/app/account/mvNavbarController.js")
script(type="text/javascript", src="/app/account/mvSignupController.js")
script(type="text/javascript", src="/app/account/mvProfileController.js")
script(type="text/javascript", src="/app/account/mvIdentity.js")
script(type="text/javascript", src="/app/account/mvAuth.js")
script(type="text/javascript", src="/app/account/mvUser.js")
script(type="text/javascript", src="/app/account/mvScores.js")
script(type="text/javascript", src="/app/admin/mvUserListController.js")
script(type="text/javascript", src="/app/typing/mvTypingController.js")
script(type="text/javascript", src="/app/common/mvFilters.js")
script(type="text/javascript", src="/app/dashboard/mvDashBoardController.js")
script(type="text/javascript", src="/app/exercises/mvExercisesController.js")
script(type="text/javascript", src="/app/exercises/mvExercises.js")
script(type="text/javascript", src="/app/exercises/mvExerciseDataService.js")
script(type="text/javascript", src="/app/results/mvResultsController.js")
