.everything
  section.section.section-welcome
    .container
      .section-content
        div
          img.slogan(src="../../img/slogan.svg")
        a(href="#")
          img.try-it-now(src="../../img/try-now.svg")
    .feature-title-section
      .feature-block
        .feature-title
          h2 Built for programmers
        .feature-title
          h2 20+ Excercises
        .feature-title
          h2 Track your progress
    .feature-section
      .feature-block
        div.feature-item.for-programmers
          img.icon(src="../../img/for-coders-icon.png")

        div.feature-item.exercises
          img.icon(src="../../img/exercises-icon.png")

        div.feature-item.track-progress
          img.icon(src="../../img/track-progress-icon.png")

  section.section.section-programmers
    .container
      h1 Built for Programmers
      .fill
  section.section.section-challenges
    .container
      h1 20+ Excercises
      .fill
  section.section.section-progress
    .container
      h1 Track Your Progress
      .fill
footer.sitefooter.text-center
  h1
    span.footer-logo Key Dash
    a(href="#") Built
    span  by 
    a(href="#") Greg Fedirko

