.everything
  section.section.section-welcome
    .container
      .section-content
        h1.
          Crank up Your Typing Speed
        button.sun-flower-button.
          Try it now
    .feature-section
      .feature-block
        div.feature-item
          h4 Built for programmers
        div.feature-item
          h4 20+ Excercises
        div.feature-item
          h4 Track your progress
  section.section.section-programmers
    .container
      h1 Built for Programmers
      .fill
  section.section.section-challenges
    .container
      h1 20+ Excercises
      .fill
  section.section.section-progress
    .container
      h1 Track Your Progress
      .fill
footer.sitefooter.text-center
  h1
    span.footer-logo Key Dash
    a(href="#") Built
    span  by 
    a(href="#") Greg Fedirko

